/* main text color: #212121; */
/* second text color: #757575; */
/* main background color: #F5F5F5; */
/* accent color: #2196F3; */
/* second accent color: #000000; */
/* main button color: #F5F4FA; */

:root {
    --main-text-color: #212121;
    --second-text-color: #757575;
    --main-background-color: #f5f5f5;
    --second-background-color: #2f303a;
    --accent-color: #2196f3;
    --second-accent-color: #000000;
    --second-logo-color: #ffffff;
    --portfolio-button-color: #f5f4fa;
}

* {
    outline: 1px solid red;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0;
}

ul {
    padding-left: 0;
}

img {
    display: block;
}

body {
    background-color: #ffffff;
    color: var(--main-text-color);
    font-family: 'Roboto', sans-serif;
    color: var(--main-text-color);
    font-size: 14px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.link {
    text-decoration: none;
}

.link:hover,
.link:focus {
    color: var(--accent-color);
}

ul {
    list-style: none;
}

/* Header  */

.header-box {
    display: flex;
    align-items: center;
}

/* logo */

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.logo-item {
    color: var(--second-accent-color);
}

/* site navigation */

.main-nav {
    display: flex;
    align-items: center;
}

.site-nav {
    display: flex;
    margin-left: 93px;
}

.nav-item {
    display: block;
}

.nav-item + .nav-item {
    margin-left: 50px;
}

/* site links */

.nav-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--main-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
}

.nav-link:active {
    color: var(--accent-color);
}

/* contacts link */

.contact-box {
    display: flex;
    margin-left: auto;
}

.contact-item {
    display: block;
}

.contact-item + .contact-item {
    margin-left: 50px;
}

.contact-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--second-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
}

/* hero */

.hero {
    background-color: var(--second-background-color);
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--second-logo-color);
    /* max-width: 696px; */
}

.hero-btn {
    font-family: 'Roboto', sans-serif;
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--second-logo-color);
    /* margin-top: 30px; */
}

.hero-btn:hover,
.hero-btn:focus,
.hero-btn:active {
    background-color: #188ce8;
}

/* advertising text  */

.adv-text {
    padding-top: 94px;
}

.adv-list {
    display: flex;
}

.adv-item + .adv-item {
    padding-left: 30px;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.adv-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-text-color);
}

.adv-item {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}

/* advertising photo */

.adv-photo {
    padding-top: 94px;
}

.photo-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.photo-list {
    display: flex;
}

.photo-item {
    flex-basis: calc((100%-2 * 30px) / 3);
}

/* .photo-item + .photo-item {
    padding-left: 30px;
} */

/* team members */

.team-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-list {
    display: flex;
}

.team-photo {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    flex-basis: calc((100%-3 * 30px) / 4);
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.teammate-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-profession {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}

/* footer  */

.footer {
    background-color: var(--second-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--second-logo-color);
}

.address-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-logo-color);
    font-style: normal;
}

.footer-link {
    font-size: 14px;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

/* Portfolio  */

/* Portfolio button */

.button {
    padding-top: 94px;
}

.list-btn {
    display: flex;
    justify-content: center;
}

.btn-item + .btn-item {
    margin-left: 8px;
}

.portfolio-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    background-color: var(--portfolio-button-color);
    cursor: pointer;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    color: var(--second-logo-color);
    background-color: var(--accent-color);
}

/* Portfolio photo list  */

.portfolio-photo {
    display: flex;
    flex-wrap: wrap;
    padding-top: 34px;
    padding-bottom: 94px;
}

.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-text-color);
    padding-left: 24px;
}

.portfolio-type {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
    padding-left: 24px;
}

.portfolio-item {
    flex-basis: calc((100%-2 * 30px) / 3);
}
